<h1>Je suis la home Page </h1>
<h2>choose your foot </h2>
<ol>
<li>big foot </li>
<li>short foot </li>
<li>small foot </li>
</ol>
<%= link_to "Alpha Blog", articles_path %> |<%= link_to 'about', about_path %>
<%= link_to image_tag('image_preview.gif'), 'www.google.fr' %>
